body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;

    background-image: url(./images/steve-tutoring-baywindow-tie.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
     overflow: hidden;
     display: block;
     position: relative;
     padding-bottom: 80px; /* height of your footer */
}

.jumbotron {
    background: none;
    text-align: center;
    transition: .5s;
}

.moveHeader {
    padding: 0rem 2rem 0rem 2rem;
}

.navbar {
    padding: 2rem 10rem;
}

.navbar a {
    color: #ffffff;
    font-size: 1.5rem;
}

.home-container {
    padding-bottom: 100px;
}

.column {
    float: left;
    width: 33.33%;
}

.animated-nav-bar {
    margin: 0 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.animated-nav-bar a {
    padding: 10px 10px;
    margin: 0px 10px;
    position: relative;
    z-index: 0;
    font: 30px Raleway;
}

.main-content {
    color: beige;
    width: 100%;
    margin-left: 0%;
    font: 1.3rem Raleway;

}

.boxed-background {
    background:rgba(127,255,212,0.5);
    background:rgba(188,143,143,0.5);
    
    padding: 15px;
}

/* https://codepen.io/EvyatarDa/pen/waKXMd */
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

div.pullRightLeft a:before, div.pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRightLeft a:before
{
    left: 0px;
} 

div.pullRightLeft a:after
{
    right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after
{
    width: 100%;
}

.float-left {
    float: left;
    margin: 0px 20px;
}

.float-left {
    float: right;
    margin: 0px 20px;
}

.clearBoth {
    clear: both;
}

/** Cards **/
.section-container {
    box-shadow: 0 4px 8px 0 rgba(230,83,143,0.5);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px 40px 20px 40px;
    padding: 5px;
    background:rgba(188,143,143,0.5);
}
.section-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.section-container .title {
    font: 30px Raleway;
    text-align: left;
}
.section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}
.card-cards {
    display: flex;
}

.row-container {
    align-content: space-between;
    justify-content: space-between;
    padding: 0 0 5px 40px;
}
.column-container {
    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: stretch;
}
.column-container .standard-card {
    flex: 1 0 40%;
    
    max-width: 40%;
}
.column-container .list-card {
    
    flex: 1 0 40%;
    margin: auto auto auto 40px;
}
.standard-card {
    display: inline-block;
    padding: 2px 16px;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.list-card {
    #height: 30px;
    display: list-item;
}
.first-level img {
    width: 400px;
}
.second-level img {
    width: 368px;
}


/**
.section-container {
  box-shadow: 0 4px 8px 0 rgba(230,83,143,0.5);
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px 40px 20px 40px;
  padding: 5px;
  background:rgba(188,143,143,0.5);
}
.section-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.section-container .title {
    font: 30px Raleway;
    text-align: left;
}
.section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}
.section-cards.list-card {
    align-content: space-between;
    justify-content: space-between;
    padding: 0 0 5px 40px;
}

.card-container.standard-card {
    display: inline-block;
    padding: 2px 16px;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    border-radius: 5px;
}
.row-container .card-container {
    width: 100%;
    margin: 10px;
}
.card-container.standard-card.first-level {
    
}
.card-container.standard-card.second-level {
    width: 368px;
}
.card-container.standard-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container.standard-card img {
    border-radius: 5px 5px 0 0;
    max-width: 368px;
    margin: -2px -16px;
}
.card-container.list-card {
    flex: 1 0 40%;
    #height: 30px;
    display: list-item;
}
**/

/**  Footer specific **/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding: 10px;
}
#footer a{
    color: white;
}

/** Universally used **/
.center {
    display: block;
    margin: 0 auto;
}

.thumbnail-container {
    width: 185px;
}

/** Contact Form **/
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}